.accord * {
  font-family: 'Montserrat', sans-serif;
  color: #F9F9F9;
}

.accord {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #F9F9F9;
  max-width: 1088px;
  margin: 0 auto;
  padding: 0 10px;
}

.accord_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #F9F9F9;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 72px;
}

.accord_container {
  background-color: #1D1D23;
}

.accordion {
  background-color: #1D1D23;
  color: #F9F9F9;
  cursor: pointer;
  padding: 5px 18px;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
  border-bottom: 1px solid #F9F9F9;
  border-left: 1px solid #F9F9F9;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.accordion::after {
  content: '';
  color: #F9F9F9;
  background: url("../fonts/arrow.svg") no-repeat;
  transform: rotate(180deg);
  width: 17px;
  height: 15px;
  font-weight: bold;
  float: right;
}

.active::after {
  content: "";
  background: url("../fonts/arrow.svg") no-repeat;
  transform: rotate(0deg);
  width: 17px;
  height: 15px;
}

.panel {
  padding: 0 18px;
  background-color: #1D1D23;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel_item {
  color: #F9F9F9;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}