.cosmonavt * {
  font-family: 'Montserrat', sans-serif;
}

.cosmonavt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0 10px;
}

.cosmonavt_left {
  width: 40%;
  height: 100%;
  max-width: 422px;
  min-width: 300px;
}

.cosmonavt_left_img {
  width: 100%;
  height: 100%;
}

.cosmonavt_right {
  max-width: 600px;
}

.cosmonavt_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #1D1D23;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.cosmonavt_divider {
  height: 640px;
  border: 1px solid #1D1D23;
  border-radius: 50%;
}

.cosmonavt_desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
}

.cosmonavt_desc * {
  font-family: 'Roboto', sans-serif;
}