.discount * {
  font-family: 'Montserrat', sans-serif;
}

.discount {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 40px 40px;
  margin: 90px 0 200px;
  background: linear-gradient(102.37deg, #FFDAA6 6.26%, #FA858D 69.72%, #A153C9 137.18%);
  height: 368px;
}

.discount_left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discount_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #1D1D23;
}

.discount_desc {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #1D1D23;
  margin-bottom: 40px;
}

.discount_desc-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1D1D23;
  margin-bottom: 16px;
}

.discount_right {
  position: relative;
  width: 50%;
  height: auto;
}

.discount_right_img {
  position: absolute;
  top: -240px;
  left: -150px;
  width: 140%;
}

.discount_button {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 346px;
  transition: filter 0.2s;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1D1D23;
  padding: 10px 68px;
  background: #F9F9F9;
}

.discount_button:hover {
  filter: brightness(1.05);
}