.preheader * {
  font-family: 'Montserrat', sans-serif;
}

.preheader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 15px;
  height: 96px;
}

.preheader_phone {
  position: relative;
  white-space: nowrap;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #1D1D23;
  padding-left: 30px;
}

.preheader_phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background: url("../fonts/phone.svg") no-repeat;
}

.preheader_order {
  display: flex;
  align-items: center;
  transition: filter 0.2s;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1D1D23;
  width: fit-content;
  padding: 8px 16px;
  background: linear-gradient(138.06deg, #FDAE3C 13.28%, #FA858D 58.2%, #74269C 105.94%);
}

.preheader_consult {
  padding: 7px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1D1D23;
  width: fit-content;
  border: 2px solid;
  border-width: 2px;
  border-image: linear-gradient(138.06deg, #FDAE3C 13.28%, #FA858D 58.2%, #74269C 105.94%);
  border-image-slice: 1;
}

.preheader_order:hover {
  filter: brightness(1.05);
}

.preheader_order__hide,
.preheader_consult__hide {
  display: none;
}