.principe * {
  font-family: 'Montserrat', sans-serif;
}

.principe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

.principe_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #1D1D23;
  width: 50%;
  padding-right: 10px;
  border-right: 1px solid #100C37;
  font-family: 'Montserrat', sans-serif;
}

.principe_title_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  width: 100%;
  gap: 10px;
  margin-bottom: 120px;
}

.principe_title_img {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  line-height: 29px;
}

.principe_desc {
  margin: 20px 0 45px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #1D1D23;
}

.principe_list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.principe_list_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  max-width: 315px;
}

.principe_list_container_img {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 453px;
  gap: 20px;
  max-width: 315px;
}

.principe_list_img {
  width: 100%;
  max-width: 430px;
  width: 120%;
  position: relative;
  left: -50px;
  top: -40px;
  animation: fadeIn 0.5s ease-in-out;
}

.principe_list_img_mag {
  width: 100%;
  max-width: 430px;
  width: 120%;
  position: relative;
  left: -53px;
  top: -40px;
}

.principe_list_item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #1D1D23;
  font-family: 'Roboto', sans-serif;
}

.principe_list_item_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
  min-height: 90px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  font-family: 'Montserrat', sans-serif;
}

.principe_list_item_title_gradient {
  background: linear-gradient(138.06deg, #FDAE3C 13.28%, #FA858D 58.2%, #74269C 105.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.principe_list_img_mag {
  display: none;
}

.principe_list_item_title_desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #1D1D23;
  white-space: nowrap;
}

.principe_list_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background: url("../images/principe_icon.png") no-repeat;
  background-size: contain;
}

.principe_button {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  margin: 0 auto;
  transition: filter 0.2s;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1D1D23;
  width: fit-content;
  padding: 8px 16px;
  background: linear-gradient(138.06deg, #FDAE3C 13.28%, #FA858D 58.2%, #74269C 105.94%);
}