.result * {
  font-family: 'Montserrat', sans-serif;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #F9F9F9;
  max-width: 1088px;
  margin: 0 auto;
  padding: 0 10px;
  gap: 72px;
}

.result_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.result_title_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  gap: 10px;
}

.result_desc_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result_desc_name {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.result_desc_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.result_list_item::before {
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  background: url("../fonts/result_icon.svg") no-repeat;
  background-size: 90%;
}

.result_list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 72px;
}

.result_list_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.result_list_item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  color: #F9F9F9;
  font-family: 'Roboto', sans-serif;
}
