@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans&display=swap');

@font-face {
    font-family: 'Room';
    src: url('../fonts/Room.eot');
    src: url('../fonts/Room.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Room.woff2') format('woff2'),
    url('../fonts/Room.woff') format('woff'),
    url('../fonts/Room.ttf') format('truetype'),
    url('../fonts/Room.svg#Room') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Room';
    src: url('../fonts/Room-Black.eot');
    src: url('../fonts/Room-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Room-Black.woff2') format('woff2'),
    url('../fonts/Room-Black.woff') format('woff'),
    url('../fonts/Room-Black.ttf') format('truetype'),
    url('../fonts/Room-Black.svg#Room-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



/**************** Basic ****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    line-height: 29px;
    font-family: 'Room', sans-serif;
    font-weight: 400;
    color: #000;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

h3 {
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

li,
p {
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:focus {
    outline: none;
}

/***************** Header ****************/

.header {
    width: 100%;
    position: relative;
}

.header__bg {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.header__bg__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}

.header__left {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__left > a {
    width: 225px;
    height: 70px;
    position: relative;
}

.header__left > a > img {
    width: 100%;
}

.header__left > p {
    width: 300px;
    margin-left: 13px;
}

.header__right {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a[href^="https://wa.me/+79523914622"],
a[href^="https://t.me/+79523914622"] {
    width: 57px;
    height: 57px;
    position: relative;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a[href^="https://wa.me/+79523914622"] > img,
a[href^="https://t.me/+79523914622"] > img {
    width: 100%;
}

a[href^="mailto:order@milescargo.ru"] {
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    margin-right: 40px;
}

.header__top__block {
    margin-left: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__top__block > a {
    color: #0D9DEA;
    text-align: right;
    font-family: 'Room', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__top__block > p {
    margin-top: 5px;
}

.header__banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    padding: 200px 200px 260px 120px;
}

.header__banner:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(170deg, rgba(22, 43, 78, 0.80) 53.37%, rgba(9, 18, 31, 0.00) 100%);
}

.header__banner__content {
    width: 760px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.header__banner__content > p {
    color: #E1E1E1;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 11px;
    z-index: 1;
}

.header__banner__content > h1 {
    color: #FFF;
    font-family: 'Room', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -3.2px;
}

.header__banner__content > h5 {
    color: #FFF;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
}

.header__banner__button {
    width: 320px;
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 110px;
    padding: 29px 30px;
    border-radius: 8px;
    border: 3px solid rgba(255, 255, 255, 0.50);
    background: #0D9DEA;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header__banner__button:hover {
    background-color: #fff;
    color: #0D9DEA;
}

/*******************************/

/************* Main ************/

.info {
    padding: 30px 0;
}

.info__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.info__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info__top__left {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.info__top__left > img {
    width: 90%;
}

.info__top__right {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.info__top__right > ul > li {
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    position: relative;
    margin-left: 25px;
    margin-bottom: 10px;
}

.info__top__right > ul > li:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    left: -25px;
    top: 20px;
}

.info__bottom {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.info__bottom__left {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.info__bottom__left > h5 {
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 100px;
    margin-bottom: 40px;
}

.info__bottom__text {
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info__bottom__right {
    width: 45%;
    position: relative;
}

.info__bottom__right > img {
    width: 100%;
}

.work {
    padding: 20px 0 115px;
    background-image: url("../img/work_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.work__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.work__top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.work__content__block {
    width: 26%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.work-block__number {
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.work-block__text {
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
}

.work-block__button {
    width: 100%;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
    padding: 5px;
    background: #0D9DEA;
    border: 1px solid #0D9DEA;
    transition: all 0.3s ease;
    cursor: pointer;
}

.work-block__button:hover {
    background: transparent;
    color: #0D9DEA;
}

.way__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.way__top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.way__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.way__content__block {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.way-block__img {
    width: 100%;
}

.way-block__subtitle {
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 30px;
}

.way-block__text {
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.packed__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.packed__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.packed__top__subtitle {
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.packed__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.packed__content > img {
    width: 33%;
    height: 450px;
}

.benefit {
    padding: 80px 0;
    background-image: url("../img/benefit_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
}

.benefit__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.benefit__top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit__top > h3 {
    margin-bottom: 60px;
}

.benefit__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.benefit__content__block {
    width: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.benefit__content__num {
    width: 160px;
    color: #000;
    text-align: center;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 10px;
}

.benefit__content__num.benefit__content__num1 {
    width: 195px;
}

.benefit__content__desc {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.benefit__content__title {
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.benefit__content__text {
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.product {
    padding: 90px 0;
}

.product__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product__left {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__left > img {
    width: 100%;
}

.product__right {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}


.product__right > p {
    margin-top: 100px;
}

.product__right__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.product-block {
    width: 48%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-block > img {
    width: 100px;
    height: 100px;
}

.product-block > p {
    margin-left: 15px;
}

.message__row {
    width: 100%;
    position: relative;
    padding: 60px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #0D9DEA;
}

.message__title {
    max-width: 693px;
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.message__button {
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease;
}

.message__button:hover {
    background: #0D9DEA;
    border: 1px solid #fff;
    color: #ffffff;
}

.category {
    padding: 90px 0;
}

.category__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.category__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__top__title {
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.category__top__text {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.category__gallery {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.category__gallery > img {
    width: 30%;
    height: 300px;
    margin-bottom: 60px;
}

.category__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.category__content__left {
    width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category__content__left > h3 {
    margin-top: 60px;
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 100px;
}

.category__content__left > p {
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.category__content__right {
    width: 50%;
    position: relative;
}

.category__content__right > img {
    width: 100%;
}

.city {
    padding: 0 0 90px;
}

.city__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.city__top {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.city__content {
    width: 100%;
    position: relative;
}

.city__content > img {
    width: 100%;
}

.company {
    padding: 90px 0;
}

.company__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.company__left {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.company__left > h3 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.company__left > p {
    margin-bottom: 30px;
}

.company__right {
    width: 50%;
    position: relative;
}

.company__right > img {
    width: 100%;
}

.comments {
    padding: 30px 0;
}

.comments__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.comments__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.comments__top > p {
    margin: 40px 0;
}

.comments__content {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.comments__content__block {
    width: 283px;
    height: 491px;
    border-radius: 18px;
    position: relative;
    border: 2px solid rgba(193, 193, 193, 0.50);
    background: linear-gradient(180deg, rgba(13, 157, 234, 0.16) 0%, rgba(68, 68, 68, 0.20) 100%);
}

.comments__content__block > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15px;
    left: -25px;
}

.swiper-wrapper {
    padding: 30px 30px 100px;
}

.swiper-pagination {
    position: absolute;
    bottom: 0 !important;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid black !important;
}

.case {
    padding: 90px 0;
}

.case__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.case__top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case__top > h3 {
    font-weight: 600;
}

.case__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.case__content__left {
    width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.case__content__left > h3 {
    margin: 60px 0;
}

.case__content__left > p {
    margin-bottom: 20px;
}

.case__content__right {
    width: 610px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}

.case__content__right > img {
    width: 100%;
}

.case__right__bg {
    width: 283px;
    height: 490px;
    position: relative;
    border-radius: 16px;
    border: 2px solid rgba(193, 193, 193, 0.50);
    background: linear-gradient(180deg, rgba(13, 157, 234, 0.16) 0%, rgba(68, 68, 68, 0.20) 100%);
}

.case__right__bg > img {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -20px;
    top: -20px;
}

.case__content__left > ul {
    padding-left: 20px;
}

.payment {
    padding: 30px 0;
}

.payment__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.payment__top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.payment__top > h3 {
    font-weight: 600;
}

.payment__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.payment__content__block {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__content__block > img {
    width: 145px;
    margin-bottom: 22px;
}

.payment__content__block > p {
    text-align: center;
    margin-top: 30px;
}

.forum {
    padding: 60px 0;
}

.forum__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.forum__top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.forum__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding-left: 80px;
}

.forum__content__button {
    color: #000;
    position: relative;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: transparent;
    text-align: left;
    border: none;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.forum__content__button:before {
    content: '';
    width: 40px;
    height: 17px;
    position: absolute;
    background-image: url("../img/forum_arrow.svg");
    background-repeat: no-repeat;
    top: 5px;
    left: -80px;
    transform: rotate(180deg);
}

.forum__content__button.active:before {
    transform: rotate(0);
}

.forum__content__text {
    margin-bottom: 40px;
    transition: all 0.3s ease;
    display: none;
}

.forum__content__text > ol {
    padding-left: 30px;
    margin-top: 10px;
}

.forum__bottom {
    margin-top: 30px;
    padding: 20px 120px;
    background: #0D9DEA;
}

.forum__bottom__block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.forum__bottom__block > a {
    color: #FFF;
    font-family: 'Room', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin-bottom: 50px;
}

.steps {
    padding: 60px 0;
}

.steps__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.steps__top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.steps__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.steps__content__block {
    width: 345px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps__content__block > span {
    font-size: 140px;
    font-weight: 400;
    line-height: normal;
}

.steps__content__block > p {
    text-align: center;
    margin-bottom: 20px;
}

.steps__content__block > button {
    width: 100%;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    border: none;
    background: #0D9DEA;
    border-radius: 6px;
}

.steps__block__ellipse {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #0D9DEA;
}

.steps__content__arrow1 {
    position: absolute;
    bottom: 6px;
    right: -82%;
}

.steps__content__arrow2 {
    position: absolute;
    bottom: 6px;
    right: -82%;
}

.sale {
    padding: 150px 0 170px;
    background-image: url("../img/sale_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

.sale:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.9;
    filter: blur(0);
}

.sale__row {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.sale__content {
    width: 980px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sale__content > h3 > span {
    color: #0D9DEA;
    font-weight: 900;
}

.sale__content > p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sale__content > button {
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 110px;
    background-color: #0D9DEA;
    border: 1px solid #0D9DEA;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sale__content > button:hover {
    color: #0D9DEA;
    background: transparent;
}

.map {
    padding: 60px 0;
}

.map__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map__left {
    width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding-bottom: 50px;
}

.map__left__block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}

.map__left__block > p {
    margin-left: 20px;
}

.map__right {
    width: 900px;
    position: relative;
}

.map__right > div > iframe {
    width: 100%;
}

/**********************************/

/************** Footer ************/

.footer {
    width: 100%;
    position: relative;
}

.footer__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 80px;
}

.footer__left {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__left > a {
    width: 225px;
    height: 70px;
    position: relative;
}

.footer__left > a > img {
    width: 100%;
}

.footer__left > p {
    width: 300px;
    color: #000;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 13px;
}

.footer__right {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a[href^="mailto:order@milescargo.ru"] {
    color: #000;
    text-align: center;
    font-family: 'Room', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    margin-right: 40px;
}

.footer__top__block {
    margin-left: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__top__block > a {
    color: #0D9DEA;
    text-align: right;
    font-family: 'Room', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__top__block > p {
    margin-top: 5px;
}

@media only screen and (max-width: 1290px) {

    a[href^="mailto:order@milescargo.ru"] {
        display: none;
    }

    .header__top__block > a  {
        font-size: 32px;
    }

    .header__top__block > p  {
        font-size: 22px;
    }

    .footer__top__block,
    .header__top__block {
        margin-left: 10px;
    }

    .info__top__right > ul > li {
        font-size: 32px;
    }

    .info__bottom__left > h5 {
        margin-top: 20px;
    }

    .benefit__content {
        justify-content: center;
    }

    .benefit__content__block {
        width: 700px;
    }

    .packed__content > img {
        height: unset;
    }

    .product__row {
        flex-direction: column;
        align-items: center;
    }

    .product__left {
        width: 60%;
    }

    .product__right {
        width: 80%;
        margin-top: 60px;
    }

    .product__right > p {
        margin-top: 40px;
    }

    .product-block {
        justify-content: unset;
    }

    .message__row {
        padding: 60px;
    }

    .message__title {
        max-width: unset;
        font-size: 32px;
    }

    .message__button {
        padding: 15px 50px;
        font-size: 32px;
        margin-left: 20px;
    }

    .category__gallery > img {
        height: unset;
    }

    .category__content__left > h3 {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .case__content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .case__content__left {
        width: 75%;
    }

    .case__content__right {
        margin-top: 50px;
    }

    .payment__content__block {
        text-align: center;
    }

    .forum__bottom {
        padding: 20px 60px;
    }

    .forum__bottom > h3 {
        font-size: 32px;
    }

    .forum__bottom__block {
        margin-top: 30px;
    }

    .forum__bottom__block > a {
        margin-left: 10px;
        font-size: 30px;
        margin-bottom: 0;
    }

    .steps__content__arrow1,
    .steps__content__arrow2 {
        display: none;
    }

    .map__left {
        margin-top: 0;
    }

}

@media only screen and (max-width: 992px) {

    .header__left > p {
        display: none;
    }

    .header__banner {
        margin-top: 40px;
        padding: 70px 70px 120px 30px;
    }

    .header__banner__button {
        padding: 20px 30px;
    }

    .header__banner__content > h1 {
        font-size: 60px;
    }

    .way__content {
        flex-direction: column;
        align-items: center;
    }

    .way__content__block {
        width: 65%;
        margin-bottom: 40px;
    }

    .info__top {
        flex-direction: column-reverse;
    }

    .info__top__right {
        width: 75%;
    }

    .info__top__left {
        width: 85%;
        justify-content: center;
        margin-top: 20px;
    }

    .info__bottom {
        flex-direction: column;
        align-items: center;
    }

    .info__bottom__left {
        width: 75%;
    }

    .info__bottom__right {
        width: 75%;
        margin-top: 30px;
    }

    .comments__content__block {
        margin: 0 auto;
    }

    .category__content {
        flex-direction: column;
        align-items: center;
    }

    .category__content__left {
        width: 95%;
    }

    .category__content__right {
        width: 95%;
    }

    .product__right {
        width: 95%;
    }

    .message__title {
        font-size: 24px;
    }

    .message__button {
        height: 55px;
        font-size: 24px;
    }

    .company__row {
        flex-direction: column;
        align-items: center;
    }

    .company__left {
        width: 80%;
    }

    .company__right {
        width: 80%;
        margin-top: 30px;
    }

    .forum__bottom__block > a {
        font-size: 24px;
    }

    .map__row {
        display: block;
        align-items: center;
    }

    .map__left {
        width: 70%;
    }

    .map__right {
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .map__right > div {
        width: 100%;
    }

    .footer__left > p {
        display: none;
    }

}

@media only screen and (max-width: 767px) {

    .category__content__left > h3,
    h3 {
        font-size: 28px;
    }

    p, li {
        font-size: 20px;
    }

    .info__top__right > ul > li {
        font-size: 20px;
    }

    .footer__left > a,
    .header__left > a {
        width: 150px;
        height: unset;
    }

    a[href^="https://wa.me/+79523914622"],
    a[href^="https://t.me/+79523914622"] {
        width: 35px;
        height: 35px;
    }

    .footer__top__block > a,
    .header__top__block > a {
        font-size: 20px;
    }

    .footer__top__block > p,
    .header__top__block > p {
        font-size: 16px;
    }

    .header__banner {
        margin-top: 0;
    }

    .header__banner__content > h1 {
        font-size: 40px;
    }

    .header__banner__button {
        width: 250px;
        font-size: 20px;
    }

    .info__top__right > ul > li:after {
        top: 10px;
    }

    .info__top__left {
        width: 100%;
    }

    .info__bottom__left {
        width: 95%;
    }

    .info__bottom__right {
        width: 95%;
    }

    .work__content__block {
        width: 45%;
    }

    .work-block__text {
        font-size: 20px;
    }

    .way__content__block {
        width: 95%;
    }

    .packed__content {
        flex-direction: column;
    }

    .packed__content > img {
        width: 95%;
        margin-bottom: 30px;
    }

    .benefit__content__num {
        width: 60px;
        font-size: 100px;
    }

    .benefit__content__num.benefit__content__num1 {
        width: 90px;
    }

    .benefit__content__text {
        font-size: 20px;
    }

    .benefit__content__desc {
        margin-left: 20px;
    }

    .product {
        padding: 0;
    }

    .product__left {
        width: 95%;
    }

    .product__right__content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .product-block {
        width: 90%;
        align-self: center;
    }

    .message__row {
        flex-direction: column;
        padding: 30px;
    }
    .message__title {
        margin-bottom: 30px;
    }

    .message__button {
        max-width: 300px;
        margin-left: 0;
    }

    .category__gallery > img {
        width: 50%;
    }

    .company__right,
    .company__left {
        width: 95%;
    }

    .case__content__right {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .case__right__bg {
        margin-bottom: 30px;
    }

    .case__content__left {
        width: 95%;
    }

    .payment__content {
        flex-direction: column;
    }

    .payment__content__block {
        width: 90%;
        margin-bottom: 30px;
    }

    .forum__content {
        padding-left: 60px;
    }

    .forum__content__button:before {
        top: 15px;
        left: -60px;
    }

    .forum__bottom {
        padding: 20px;
    }

    .forum__bottom > h3 {
        font-size: 28px;
    }

    .steps__content {
        flex-direction: column;
        align-items: center;
    }

    .footer__row {
        padding: 10px 0;
    }

}

@media only screen and (max-width: 450px) {

    h3 {
        font-size: 24px;
    }

    p, li {
        font-size: 16px;
    }

    .header__top {
        padding: 10px 0;
    }

    .footer__left > a,
    .header__left > a {
        width: 130px;
    }

    .info__top__right {
        width: 95%;
    }

    .info__top__left > img {
        width: 100%;
    }

    a[href^="https://wa.me/+79523914622"],
    a[href^="https://t.me/+79523914622"] {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    .footer__top__block > a,
    .header__top__block > a {
        font-size: 16px;
    }

    .footer__top__block > p,
    .header__top__block > p {
        font-size: 13px;
    }

    .footer__top__block,
    .header__top__block {
        margin-left: 0;
    }

    .header__banner__content > p {
        font-size: 18px;
    }

    .header__banner {
        margin-top: 40px;
        padding: 70px 15px 120px 15px;
    }

    .header__banner__content > h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .header__banner__content > h5 {
        font-size: 18px;
    }

    .header__banner__button {
        width: 210px;
        height: 50px;
        font-size: 16px;
        padding: 0;
    }

    .info__bottom__right,
    .info__bottom__left {
        width: 100%;
    }

    .work__content__block {
        width: 100%;
    }

    .way__content__block {
        width: 100%;
    }

    .benefit__content__text {
        font-size: 14px;
    }

    .benefit__content__title {
        font-size: 18px;
    }

    .benefit__content__num.benefit__content__num1 {
        width: 110px;
    }

    .product-block {
        width: 100%;
    }

    .message__row {
        padding: 20px;
    }

    .message__button {
        max-width: 200px;
        font-size: 18px;
        height: 50px;
    }

    .category {
        padding:  0;
    }

    .category__content__right,
    .category__content__left {
        width: 100%;
    }

    .category__content__left > h3 {
        font-size: 24px;
    }

    .category__content__left > p {
        font-size: 16px;
    }

    .company {
        padding: 30px 0;
    }

    .company__left,
    .company__right {
        width: 100%;
    }

    .company__left > h3 {
        margin: 30px 0;
    }

    .comments__content__block {
        width: 230px;
        height: 400px;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
    }

    .case__content__right {
        width: 100%;
    }

    .forum__content__button {
        font-size: 20px;
    }

    .forum__bottom > h3 {
        font-size: 24px;
    }

    .forum__bottom__block {
        flex-direction: column;
    }

    .forum__bottom__block > a {
        font-size: 20px;
        margin-top: 20px;
    }

    .steps__content__block {
        width: 100%;
    }

    .sale__content {
        width: 100%;
    }

    .sale__content > button {
        font-size: 18px;
    }

    .map__left {
        width: 100%;
    }

}

