.video * {
  font-family: 'Montserrat', sans-serif;
}

.video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #F9F9F9;
  max-width: 1088px;
  margin: 0 auto;
  padding: 0 10px;
  gap: 72px;
}

.video_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  padding-right: 10px;
  border-bottom: 1px solid #F9F9F9;
  font-family: 'Montserrat', sans-serif;
}

.video_desc_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video_list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 84px;
}

.video_list_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  gap: 100px;
}

.video_list_item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50vw;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  color: #F9F9F9;
}

.consult_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  max-width: 334px;
  background: linear-gradient(91.42deg, #FFDAA6 -1.92%, #FA858D 57.43%, #A153C9 120.52%), linear-gradient(138.06deg, #FDAE3C 13.28%, #FA858D 58.2%, #74269C 105.94%);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1D1D23;
}

.instruct_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  max-width: 334px;
  background: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1D1D23;
}

.consult_btn_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}