@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    color: #000000;
    background: #F9F9F9;
    line-height: 29px;
    font-size: 23px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    width: 100%;
    position: relative;
}

/************* Section 1 *************/

.bubble {
    width: 100%;
    position: relative;
    padding: 60px 0;
}

.bubble__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bubble__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bubble__title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.bubble__text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.bubble__img {
    width: 448px;
    height: 366px;
    animation-name: moveBubble;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes moveBubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

/************* Section 2 *************/

.path {
    width: 100%;
    position: relative;
}

.path__row {
    width: 100%;
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}

.path__top {
    width: 100%;
    position: relative;
    padding: 0 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.path__top__text {
    font-style: normal;
    font-weight: 400;
}

.path__top__left {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.path__bull__img {
    position: absolute;
    right: -35px;
    bottom: 17px;
}

#pulse_1 {
    position: absolute;
    right: -21px;
    top: -48px;
    width: 50px;
    height: 50px;
}

#pulse_2 {
    position: absolute;
    right: -26px;
    top: -48px;
    width: 50px;
    height: 50px;
}

#pulse_3 {
    position: absolute;
    right: -25px;
    top: -7px;
    width: 50px;
    height: 50px;
}

#pulse_4 {
    position: absolute;
    right: -25px;
    top: -7px;
    width: 50px;
    height: 50px;
}

.pulse::after,
.pulse::before {
    content: '';
    position: absolute;
    border: 2px solid #3D64FF;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
}

.pulse::after {
    animation-delay: 1.25s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

.path__union__left {
    width: 144px;
    height: 235px;
    position: absolute;
    bottom: -213px;
    left: 170px;
    z-index: -1;
}

.path__top__day {
    width: 100%;
    padding: 9px 30px;
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
}

.path__top__day > .anime__span1 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 199px;
    transition: all 2s ease;
}

.path__top__day > .newClass {
    bottom: -184px;
    height: 184px;
}


.path__top__day > .anime__span2 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 169px;
    transition: all 2s ease;
}

.path__top__day > .newClass2 {
    bottom: -212px;
    height: 212px;
}


.path__top__low > .anime__span3 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    right: 169px;
    transition: all 2s ease;
}

.path__top__low > .newClass3 {
    bottom: -212px;
    height: 212px;
}


.path__top__low > .anime__span4 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    right: 199px;
    transition: all 2s ease;
}

.path__top__low > .newClass4 {
    bottom: -183px;
    height: 183px;
}

.path__main__block > .anime__span5 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 27px;
    right: -143px;
    transition: all 2s ease;
}

.path__main__block > .newClass5 {
    width: 94px;
}

.path__main__block > .anime__span6 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 56px;
    right: -110px;
    transition: all 2s ease;
}

.path__main__block > .newClass6 {
    width: 61px;
}

.path__main__block > .anime__span7 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 56px;
    left: -110px;
    transition: all 2s ease;
}

.path__main__block > .newClass7 {
    width: 61px;
}

.path__main__block > .anime__span8 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 27px;
    left: -143px;
    transition: all 2s ease;
}

.path__main__block > .newClass8 {
    width: 94px;
}

.path__main__block > .anime__span9 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 265px;
    transition: all 2s ease;
}

.path__main__block > .newClass9 {
    height: 205px;
    bottom: -205px;
}

.path__main__block > .anime__span10 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 293px;
    transition: all 2s ease;
}

.path__main__block > .newClass10 {
    height: 205px;
    bottom: -205px;
}

.path__row > .anime__span11 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 593px;
    left: 606px;
    transition: all 2s ease;
}

.path__row > .newClass11 {
    height: 391px;
    bottom: 202px;
}

.path__row > .anime__span12 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 593px;
    left: 634px;
    transition: all 2s ease;
}

.path__row > .newClass12 {
    height: 362px;
    bottom: 231px;
}

.path__bottom__doctor > .anime__span13 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 221px;
    transition: all 2s ease;
    z-index: -1;
}

.path__bottom__doctor > .newClass13 {
    height: 186px;
    bottom: -185px;
}

.path__bottom__doctor > .anime__span14 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 249px;
    transition: all 2s ease;
    z-index: -1;
}

.path__bottom__doctor > .newClass14 {
    height: 186px;
    bottom: -185px;
}

.path__bottom__left > .anime__span15 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 221px;
    transition: all 2s ease;
}

.path__bottom__left > .newClass15 {
    height: 118px;
    bottom: -118px;
}

.path__bottom__left > .anime__span16 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 250px;
    transition: all 2s ease;
}

.path__bottom__left > .newClass16 {
    height: 118px;
    bottom: -118px;
}

.analysis__row > .anime__span17 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 604px;
    transition: all 2s ease;
}

.analysis__row > .newClass17 {
    height: 100px;
    bottom: -100px;
}

.analysis__row > .anime__span18 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 632px;
    transition: all 2s ease;
}

.analysis__row > .newClass18 {
    height: 100px;
    bottom: -100px;
}

.medic__top > .anime__span19 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 604px;
    transition: all 2s ease;
}

.medic__top > .newClass19 {
    height: 147px;
    bottom: -147px;
}

.medic__top > .anime__span20 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 0;
    left: 632px;
    transition: all 2s ease;
}

.medic__top > .newClass20 {
    height: 147px;
    bottom: -147px;
}

.path__main__block > .anime__span21 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 56px;
    left: 605px;
    transition: all 1s;
}

.path__main__block > .newClass21 {
    height: 22px;
}

.path__main__block > .anime__span22 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 30px;
    left: 605px;
    transition: all 1s;
}

.path__main__block > .newClass22 {
    height: 22px;
    bottom: 8px;
}


.path__main__block > .anime__span23 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 56px;
    right: 605px;
    transition: all 1s;
}

.path__main__block > .newClass23 {
    height: 22px;
}

.path__main__block > .anime__span24 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 30px;
    right: 605px;
    transition: all 1s;
}

.path__main__block > .newClass24 {
    height: 22px;
    bottom: 8px;
}

.path__main__block > .anime__span25 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 7px;
    right: 604px;
    transition: all 1s;
    transform: rotate(-126deg);
    border-radius: 5px;
}

.path__main__block > .newClass25 {
    height: 62px;
    right: 581px;
    bottom: -7px;
}

.path__main__block > .anime__span26 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 77px;
    right: 604px;
    transition: all 1s;
    transform: rotate(126deg);
    border-radius: 5px;
}

.path__main__block > .newClass26 {
    height: 62px;
    bottom: 30px;
    right: 581px;
}

.path__main__block > .anime__span27 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 7px;
    left: 604px;
    transition: all 1s;
    transform: rotate(306deg);
    border-radius: 5px;
    z-index: -1;
}

.path__main__block > .newClass27 {
    height: 62px;
    bottom: -7px;
    left: 581px;
}

.path__main__block > .anime__span28 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 77px;
    left: 604px;
    transition: all 1s;
    transform: rotate(-306deg);
    border-radius: 5px;
    z-index: -1;
}

.path__main__block > .newClass28 {
    height: 62px;
    bottom: 30px;
    left: 581px;
}

.path__bottom > .anime__span29 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 471px;
    left: 585px;
    transition: all 1s;
    transform: rotate(306deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass29 {
    height: 62px;
    bottom: 458px;
    left: 561px;
}

.path__bottom > .anime__span30 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 540px;
    left: 585px;
    transition: all 1s;
    transform: rotate(-306deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass30 {
    height: 62px;
    bottom: 494px;
    left: 561px;
}

.path__bottom > .anime__span31 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 471px;
    right: 585px;
    transition: all 1s;
    transform: rotate(-126deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass31 {
    height: 62px;
    bottom: 458px;
    right: 561px;
}

.path__bottom > .anime__span32 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 540px;
    right: 585px;
    transition: all 1s;
    transform: rotate(-54deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass32 {
    height: 62px;
    bottom: 494px;
    right: 561px;
}

.path__bottom > .anime__span33 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 82px;
    right: 585px;
    transition: all 1s;
    transform: rotate(-126deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass33 {
    height: 62px;
    bottom: 69px;
    right: 561px;
}

.path__bottom > .anime__span34 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 148px;
    right: 585px;
    transition: all 1s;
    transform: rotate(-54deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass34 {
    height: 62px;
    bottom: 104px;
    right: 561px;
}

.path__bottom > .anime__span35 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 130px;
    right: 603px;
    transition: all 1s;
    z-index: -1;
}

.path__bottom > .newClass35 {
    width: 20px;
    right: 586px;
}

.path__bottom > .anime__span36 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 102px;
    right: 630px;
    transition: all 1s;
    z-index: -1;
}

.path__bottom > .newClass36 {
    width: 45px;
    right: 586px;
}


.path__bottom > .anime__span37 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -118px;
    right: 324px;
    transition: all 1s;
    transform: rotate(144deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass37 {
    height: 62px;
    bottom: -173px;
    right: 310px;
}

.path__bottom > .anime__span38 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -118px;
    right: 257px;
    transition: all 1s;
    transform: rotate(36deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass38 {
    height: 62px;
    bottom: -173px;
    right: 274px;
}

.path__bottom > .anime__span39 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -118px;
    left: 270px;
    transition: all 1s;
    transform: rotate(-144deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass39 {
    height: 62px;
    bottom: -173px;
    left: 254px;
}

.path__bottom > .anime__span40 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -118px;
    left: 201px;
    transition: all 1s;
    transform: rotate(-36deg);
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass40 {
    height: 62px;
    bottom: -173px;
    left: 218px;
}

.analysis__row > .anime__span41 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -101px;
    left: 653px;
    transition: all 1s;
    transform: rotate(-144deg);
    border-radius: 5px;
    z-index: 1;
}

.analysis__row > .newClass41 {
    height: 62px;
    bottom: -155px;
    left: 635px;
}

.analysis__row > .anime__span42 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -101px;
    left: 584px;
    transition: all 1s;
    transform: rotate(-36deg);
    border-radius: 5px;
    z-index: 1;
}

.analysis__row > .newClass42 {
    height: 62px;
    bottom: -155px;
    left: 600px;
}

.analysis__row > .anime__span43 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -407px;
    left: 654px;
    transition: all 1s;
    transform: rotate(-144deg);
    border-radius: 5px;
    z-index: 1;
}

.analysis__row > .newClass43 {
    height: 62px;
    bottom: -461px;
    left: 635px;
}

.analysis__row > .anime__span44 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -407px;
    left: 584px;
    transition: all 1s;
    transform: rotate(-36deg);
    border-radius: 5px;
    z-index: 1;
}

.analysis__row > .newClass44 {
    height: 62px;
    bottom: -461px;
    left: 600px;
}

.path__row > .anime__span45 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 590px;
    left: 606px;
    transition: all 2s ease;
}

.path__row > .newClass45 {
    width: 20px;
    left: 587px;
}

.path__row > .anime__span46 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 620px;
    left: 606px;
    transition: all 2s ease;
}

.path__row > .newClass46 {
    width: 20px;
    left: 587px;
}

.path__row > .anime__span47 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 590px;
    right: 603px;
    transition: all 2s ease;
}

.path__row > .newClass47 {
    width: 20px;
    right: 586px;
}

.path__row > .anime__span48 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 620px;
    right: 603px;
    transition: all 2s ease;
}

.path__row > .newClass48 {
    width: 20px;
    right: 586px;
}

.path__row > .anime__span49 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 590px;
    right: 585px;
    transition: all 2s ease;
}

.path__row > .newClass49 {
    height: 23px;
    bottom: 570px;
}

.path__row > .anime__span50 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 620px;
    right: 585px;
    transition: all 2s ease;
}

.path__row > .newClass50 {
    height: 24px;
}

.path__row > .anime__span51 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 590px;
    left: 585px;
    transition: all 2s ease;
}

.path__row > .newClass51 {
    height: 23px;
    bottom: 570px;
}

.path__row > .anime__span52 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 620px;
    left: 585px;
    transition: all 2s ease;
}

.path__row > .newClass52 {
    height: 24px;
}

.path__bottom > .anime__span53 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 130px;
    right: 586px;
    transition: all 1s;
    z-index: -1;
}

.path__bottom > .newClass53 {
    height: 23px;
}

.path__bottom > .anime__span54 {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: 102px;
    right: 586px;
    transition: all 1s;
    z-index: -1;
}

.path__bottom > .newClass54 {
    height: 20px;
    bottom: 82px;
}

.path__bottom > .anime__span55 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -118px;
    right: 308px;
    transition: all 1s;
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass55 {
    width: 23px;
    right: 308px;
}

.path__bottom > .anime__span56 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -118px;
    right: 277px;
    transition: all 1s;
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass56 {
    width: 21px;
    right: 257px;
}

.path__bottom > .anime__span57 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -118px;
    left: 220px;
    transition: all 1s;
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass57 {
    width: 22px;
    left: 200px;
}

.path__bottom > .anime__span58 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -118px;
    left: 253px;
    transition: all 1s;
    border-radius: 5px;
    z-index: -1;
}

.path__bottom > .newClass58 {
    width: 23px;
    left: 252px;
}

.analysis__row > .anime__span59 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -101px;
    left: 633px;
    transition: all 1s;
    border-radius: 5px;
    z-index: 1;
}

.analysis__row > .newClass59 {
    width: 22px;
    left: 633px;
}

.analysis__row > .anime__span60 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -101px;
    left: 605px;
    transition: all 1s;
    border-radius: 5px;
    z-index: 1;
}

.analysis__row > .newClass60 {
    width: 22px;
    left: 585px;
}

.analysis__row > .anime__span61 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -407px;
    left: 633px;
    transition: all 1s;
    border-radius: 5px;
    z-index: 1;
}

.analysis__row > .newClass61 {
    width: 22px;
    left: 633px;
}

.analysis__row > .anime__span62 {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(230, 242, 255, 0.6);
    bottom: -407px;
    left: 604px;
    transition: all 1s;
    border-radius: 5px;
    z-index: 1;
}

.analysis__row > .newClass62 {
    width: 22px;
    left: 585px;
}

.path__top__day:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px 0 0 12px;
    border: 2px solid transparent;
    background: linear-gradient(180deg,rgba(242, 179, 186, 1),rgba(115, 162, 225, 1)) border-box;
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.path__top__right {
    width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.path__union__right {
    width: 144px;
    height: 235px;
    position: absolute;
    bottom: -213px;
    right: 170px;
    z-index: -1;
}

.path__wc__img {
    position: absolute;
    right: -40px;
    bottom: 17px;
}

.path__top__fast {
    width: 100%;
    padding: 9px 30px;
    margin-bottom: 20px;
    position: relative;
    background-color: #E3B1BF;
    border-radius: 12px 0 0 12px;
}

.path__top__fast:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px 0 0 12px;
    border: 2px solid transparent;
    background: linear-gradient(180deg,rgba(242, 179, 186, 1),rgba(115, 162, 225, 1)) border-box;
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.path__top__low {
    width: 100%;
    position: relative;
    padding: 24px 30px;
    margin-bottom: 20px;
    background-color: #fff;
}

.path__top__low:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px 0 0 12px;
    border: 2px solid transparent;
    background: linear-gradient(180deg,rgba(242, 179, 186, 1),rgba(115, 162, 225, 1)) border-box;
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.path__main {
    width: 100%;
    position: relative;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.path__main__block {
    width: 45%;
    padding: 35px 0;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
    border-radius: 12px 0 0 12px;
}


.path__person__img {
    position: absolute;
    right: -40px;
    bottom: -5px;
}

.path__main__block:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px 0 0 12px;
    border: 2px solid transparent;
    background: linear-gradient(180deg,rgba(242, 179, 186, 1),rgba(115, 162, 225, 1)) border-box;
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.path__union__kr {
    width: 200px;
    height: 645px;
    position: absolute;
    top: 99px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}

.path__bottom {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.path__bottom__left {
    width: 530px;
    padding: 40px;
    border-radius: 12px;
    margin-top: 100px;
    background-color: #fff;
    position: relative;
    font-style: normal;
    font-weight: 400;
}

.path__bottom__title {
    margin-bottom: 40px;
}

.path__bottom__list {
    list-style-type: none;
}

.path__list__item {
    margin-top: 20px;
    margin-left: 40px;
    position: relative;
}

.path__list__item:before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: rgba(227, 177, 191, 1);
    left: -40px;
    top: 7px;
}

#list__modify:before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: rgba(227, 177, 191, 1);
    left: -40px;
    top: 2px;
}

.path__bottom__right {
    width: 530px;
    border-radius: 12px;
    margin-top: 100px;
    background-color: transparent;
    position: relative;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.path__bottom__fast {
    position: relative;
    width: 100%;
    height: 350px;
    padding: 40px;
    border-radius: 12px;
    background-color: #fff;
}

.path__bottom__doctor {
    width: 90%;
    padding: 35px 0;
    position: relative;
    background-color: #fff;
    text-align: center;
    margin-top: 90px;
}

.path__bottom__doctor:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px 0 0 12px;
    border: 2px solid transparent;
    background: linear-gradient(180deg,rgba(242, 179, 186, 1),rgba(115, 162, 225, 1)) border-box;
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.path__bottom__img {
    position: absolute;
    bottom: -168px;
    z-index: -1;
    left: 200px;
}

/************* Section 3 *************/

.analysis {
    width: 100%;
    position: relative;
    margin-top: 70px;
}

.analysis__row {
    width: 100%;
    border-radius: 12px;
    padding: 30px 40px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.analysis__blood {
    width: 550px;
    position: relative;
    border-radius: 12px;
    padding: 40px 33px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
}

.analysis__img {
    width: 75px;
    height: 85px;
}

.analysis__blood__block {
    width: 100%;
    color: #fff;
    padding: 15px 33px;
    position: relative;
    border-radius: 12px;
    background-color: rgba(227, 177, 191, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.analysis__blood__text {
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
}

.analysis__bottom__img {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -150px;
    z-index: -1;
    margin: auto;
}

/************Section 4***********/

.medic {
    width: 100%;
    position: relative;
    margin-top: 150px;
}

.medic__row {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.medic__top {
    width: 100%;
    position: relative;
    background-color: rgba(227, 177, 191, 1);
    border-radius: 12px;
    padding: 40px;
}

.medic__top__text {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}

.medic__img {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}

.medic__bottom {
    width: 100%;
    position: relative;
    margin-top: 196px;
}

.medic__bottom:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    border: 2px solid transparent;
    background: linear-gradient(180deg,rgba(242, 179, 186, 1),rgba(115, 162, 225, 1)) border-box;
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    border-top: 0;
    z-index: -1;
}

.medic__bottom__title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding: 23px;
    text-align: center;
    background: linear-gradient(-45deg, #F2B3BA 6.86%, #73A2E1 96.65%);
    color: #fff;
    border-radius: 12px;
}

.medic__bottom__text {
    font-style: normal;
    font-weight: 400;
    padding: 40px;
}

.medic__span {
    color: rgba(46, 124, 171, 0.76);
    font-weight: 700;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.medic__span:after {
    content: '';
    position: absolute;
    right: -80px;
    top: 5px;
    width: 100px;
    height: 100px;
    background-image: url("img/hand.svg");
    background-repeat: no-repeat;
    animation-name: moveBubble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.br__hide {
    display: none;
}

#bottom__br {
    display: none;
}

/*************** Media ***************/

@media only screen and (max-width: 1270px) {
    body {
        font-size: 21px;
        line-height: 24px;
    }

    .anime__none {
        display: none;
    }

    .bubble__title {
        font-size: 23px;
    }

    .bubble__text {
        font-size: 23px;
    }

    .path__union__left {
        bottom: -208px;
    }

    .path__union__kr {
        display: none;
    }

    .path__main__block {
        width: 35%;
    }

    .path__bottom {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .path__bottom__doctor {
        width: 100%;
    }

    .path__bottom__img {
        left: 0;
        right: 0;
        margin: auto;
    }

    .analysis__row {
        justify-content: center;
        background-color: transparent;
    }

    .analysis__blood {
        width: 580px;
    }

    .analysis__blood__text {
        width: 100%;
        padding: 45px 15px;
        background-color: white;
        margin-top: -25px;
        border-radius: 12px;
        margin-left: 0;
    }

    #pulse_1 {
        right: -20.5px;
        top: -62px;
    }

    #pulse_2 {
        top: -62.5px;
    }

    #pulse_3 {
        top: -11px;
    }

    #pulse_4 {
        top: -11px;
    }

    .path__row {
        padding: 0 0 28px 0;
    }
}

@media only screen and (max-width: 1081px) {
    body {
        font-size: 20px;
    }

    .path__main__block {
        width: 30%;
    }
}

@media only screen and (max-width: 1006px) {

    .bubble__row {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .bubble__picture {
        margin-left: 15%;
        margin-top: 50px;
    }

    .path__top {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    #pulse_1 {
        top: -68px;
    }

    #pulse_3 {
        top: -32px;
        right: -25.5px;
    }

    .path__union__left,
    .path__union__right {
        display: none;
    }

    .path__top__left {
        width: 80%;
        margin-top: 120px;
    }

    .path__top__right {
        width: 80%;
    }

    .path__main__block {
        width: 75%;
        padding: 25px 0;
    }

    .path__bottom__doctor {
        display: none;
    }

    .br__hide {
        display: block;
    }

    .medic__bottom__title {
        font-size: 23px;
        text-align: start;
    }
}

@media only screen and (max-width: 641px) {
    body {
        font-size: 19px;
    }

    .bubble__content {
        margin-left: 7%;
    }

    .bubble__text,
    .bubble__title {
        font-size: 21px;
    }

    .path__top__left,
    .path__top__right {
        width: 95%;
    }

    .path__main__block {
        width: 82%;
    }

    .path__bottom__left,
    .path__bottom__right {
        width: 90%;
    }

    .medic__bottom__title {
        font-size: 21px;
        text-align: start;
    }

    .path__top__day,
    .path__top__fast {
        padding: 9px 10px 9px 30px;
    }

    .hide__br {
        display: none;
    }

    .analysis__blood {
        min-width: 500px;
    }
}

@media only screen and (max-width: 510px) {
    body {
        font-size: 18px;
    }

    .analysis__blood {
        min-width: 450px;
    }

    #bottom__br {
        display: block;
    }

    .medic__bottom__text {
        font-size: 19px;
    }
}

@media only screen and (max-width: 490px) {
    #pulse_2 {
        top: -38.5px;
    }

    .analysis__blood {
        min-width: 420px;
    }
}

@media only screen and (max-width: 430px) {

    body {
        font-size: 17px;
    }

    .medic__bottom__title,
    .bubble__text,
    .bubble__title {
        font-size: 19px;
    }

    #pulse_1 {
        top: -69px;
    }

    .path__top {
        padding: 0 20px 0 0;
    }

    .path__main__block {
        width: 88%;
        margin-right: 6%;
    }
}

@media only screen and (max-width: 376px) {
    .path__top__day,
    .path__top__fast {
        padding: 9px 10px;
    }

    .path__top__low {
        padding: 24px 30px 24px 10px;
    }

    .path__bottom__fast {
        height: 375px;
    }
}

@media only screen and (max-width: 354px) {
    #pulse_1 {
        top: -45px;
    }

    .analysis__blood {
        min-width: 350px;
    }

    .path__bottom__fast {
        height: 460px;
    }

    .medic__bottom__text {
        padding: 40px 20px;
    }
}
