@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*********** Basic ***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    color: #000000;
    background: #fff;
    line-height: 29px;
    font-size: 23px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1660px;
    padding: 0 15px;
    margin: 0 auto;
}


.container-m {
    width: 100%;
    max-width: 1390px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    width: 100%;
    position: relative;
    padding-bottom: 96px;
}

.section-title {
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 46px;
    color: #002E6D;
}

/******************************/

/*********** Header ***********/

.header {
    width: 100%;
    position: relative;
    background-image: url(./img/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    height: 100vh;
    max-height: 728px;
    background-color: #0080C9;
}

.header__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 0;
}

.header__top__button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 16px;
    padding: 12px 40px;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.header__top__button:hover {
    background-color: #fff;
    color: #0080C9;
}

.header__banner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header__banner__left {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__banner__title {
    width: 680px;
    font-weight: 600;
    font-size: 54px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 90px;
}

.header__banner__subtitle {
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 19px;
}

.header__banner__block {
    width: 680px;
    height: 112px;
    color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FF5F49;
    border-radius: 24px;
    margin-top: 40px;
}

.header__banner__block:after {
    content: '';
    background-image: url("./img/icons/hed_vector.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: -1px;
    top: 45px;
    width: 10px;
    height: 20px;
}

.header__banner__block:before {
    content: '';
    background-image: url("./img/icons/hed_vector.svg");
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(180deg);
    right: -1px;
    top: 45px;
    width: 10px;
    height: 20px;
}

.banner__block__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.34);
    padding: 0 15px;
}

.banner__block__item:nth-child(3) {
    margin-right: 20px;
    border-right: 0;
}

.banner__block__price {
    font-size: 34px;
    line-height: 40px;
}

.banner__block__price > span {
    font-size: 22px;
}

.banner__block__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.banner__block__warning1 {
    position: absolute;
    right: 22px;
    top: 22px;
}

.banner__block__warning2 {
    position: absolute;
    right: -20px;
    top: 22px;
}

.header__banner__button {
    padding: 12px 40px;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #0080C9;
    color: #0080C9;
    width: 288px;
    margin-top: 52px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    transition: all 0.3s;
}

.header__banner__button:hover {
    background-color: #0080C9;
    color: #fff;
    border: 1px solid #fff;
}

/*******************************/

/*********** Content ***********/

.main {
    width: 100%;
    position: relative;
}

.history__bg {
    position: absolute;
    left: 0;
    top: 196px;
    width: 50%;
    height: 472px;
    background: rgba(64, 208, 255, 0.5);
    border-radius: 0 200px 200px 0;
}

.history__bg:after {
    content: '';
    position: absolute;
    width: 95%;
    height: 472px;
    left: 0;
    top: 40px;
    border: 1px solid rgba(0, 46, 109, 0.5);
    border-left: 0;
    border-radius: 0 200px 200px 0;
    z-index: 2;
}

.history__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.history__main {
    width: 100%;
    margin-top: 71px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.history__left {
    width: 690px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.history__right__title,
.history__left__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #002E6D;
    margin-bottom: 27px;
}

.history__left__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.history__right {
    width: 690px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.history-list {
    position: relative;
    padding: 0 25px;
}

.history-list__item {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 15px;
    color: #000000;
}

.history-list__item > strong {
    font-weight: 600;
}

.sum {
    background-color: #F6F6F6;;
}

.sum__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sum__main {
    width: 100%;
    height: 512px;
    position: relative;
    background-color: #fff;
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.sum__left {
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 79px;
    margin-left: 64px;
}

.sum__left__block {
    width: 245px;
}

.sum-block__count {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #0080C9;
    margin-bottom: 7px;
}

.sum-block__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.sum__right {
    position: relative;
}

.sum__right__img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.different__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.different__main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.different__main__block {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 60px;
}

.different-block__left {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.different-block__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin-top: 15px;
    margin-bottom: 8px;
    color: #002E6D;
}

.different-block__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.different-block__img {
    width: 112px;
    height: 106px;
}

.map {
    background: #F6F6F6;
}

.map__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.map__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.map__top__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map__top__block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map-block__num {
    font-weight: 600;
    font-size: 64px;
    line-height: 56px;
    color: #FF5F49;
}

.map-block__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-left: 15px;
    color: #000000;
}

.map__main {
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.map__main__img {
    width: 100%;
}

.format__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.format__main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.format__main__block {
    width: 33%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 40px;
    border: 1px solid #CCD5E2;
    border-radius: 8px;
}

.format__main__block:hover {
    background: rgba(204, 213, 226, 0.1);
}

.format-block__img {
    width: 160px;
    height: 160px;
}

.format-block__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #002E6D;
    margin-top: 30px;
}

.format-block__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 27px;
    margin-bottom: 36px;
}

.format-block__list {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    list-style-type: none;
    margin-bottom: 40px;
}

.format-list__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    position: relative;
    margin-top: 20px;
}

.format-list__item:before {
    content: '';
    background-image: url("img/icons/ico_check.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -35px;
    width: 25px;
    height: 22px;
}

.format-block__bottom {
    width: 100%;
    position: relative;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.format-bottom__sum {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #0080C9;
}

.format-bottom__sum > span {
    font-size: 20px;
}

.format-bottom__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #0080C9;
}

.format-bottom__button {
    width: 100%;
    cursor: pointer;
    padding: 12px;
    margin-top: 26px;
    border: 1px solid white;
    background: #0080C9;
    border-radius: 20px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s;
}

.format-bottom__button:hover {
    background: white;
    color: #0080C9;
    border: 1px solid #0080C9;
}

.calc {
    background-color: #F6F6F6;
}

.calc__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.calc__main.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calc__main {
    width: 100%;
    height: 696px;
    background-color: #fff;
    padding-top: 40px;
    border-radius: 48px;
    overflow: hidden;
    position: relative;
    display: none;
}

.calc__left {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.calc__left__block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

.calc-block__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    align-items: center;
}

.calc-block__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}

.calc-block__value {
    position: relative;
    width: 170px;
    padding: 15px 0 15px 15px;
    border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.calc-block__range {
    cursor: pointer;
    height: 8px;
}

.calc__left__button {
    cursor: pointer;
    padding: 12px;
    width: 330px;
    border: 1px solid #F6F6F6;
    background: #0080C9;
    border-radius: 20px;
    font-size: 18px;
    line-height: 32px;
    margin-top: 30px;
    color: #FFFFFF;
    transition: all 0.3s;
}

.calc__left__button:hover {
    color: #0080C9;
    background: #fff;
    border: 1px solid #0080C9;
}

.calc__right {
    width: 40%;
    position: relative;
}

.calc__right__img {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.res__row.active {
    display: flex;
    flex-direction: column;
}

.res__row {
    width: 100%;
    position: relative;
    display: none;
    padding: 70px;
    background-color: #fff;
    border-radius: 48px;
}

.res__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.res__top__prev {
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #0092E6;
    cursor: pointer;
    margin-bottom: 8px;
}

.res__top__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #002E6D;
}

.res__top__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.res__main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.res__main__block {
    width: 100%;
    position: relative;
    padding: 30px 0;
    border-bottom: 2px solid rgba(128, 128, 128, 0.18);
    display: flex;
    flex-direction: row;
}

.res-block__subtitle {
    width: 336px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #002E6D;
}

.res-block__sum {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}

.res-block__sum > strong {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.res-block__button {
    width: 330px;
    cursor: pointer;
    padding: 12px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: 30px;
    border: 1px solid #fff;
    background: #0080C9;
    border-radius: 20px;
    transition: all 0.3s;
}

.res-block__button:hover {
    color: #0080C9;
    border: 1px solid #0080C9;
    background: #ffffff;
}

.partner__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.partner__main {
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.partner__main__block {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.partner-block__right {
    position: relative;
    margin-left: 60px;
}

.partner-block__name {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #002E6D;
}

.partner-block__level {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 27px;
    color: #002E6D;
}

.partner-block__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.partner-block__left {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
}

.partner-block__img {
    width: 300px !important;
    height: 300px;
}

/****** Owl ******/

button.owl-prev {
    position: absolute;
    left: 70px;
    top: 30%;
}

button.owl-next {
    position: absolute;
    right: 50px;
    top: 30%;
}

/*****************/

.work {
    background-color: #F6F6F6;
    padding-bottom: 0;
}

.work__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.work__main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
}

.work__main__block {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 96px;
}

.work-block__content {
    margin-left: 60px;
}

.work-block__img {
    width: 112px;
    height: 112px;
}

.work-block__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 8px;
    color: #002E6D;
}

.work-block__text {
    width: 380px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.business__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.business__main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}

.business__main__block {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.business-block_img {
    width: 294px;
    height: 240px;
}

.business-block__text {
    width: 384px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 22px;
    color: #000000;
}

.last {
    width: 100%;
    position: relative;
    background: #0080C9;
}

.last__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.last__top {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.last__top__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.last-content__block {
    width: 168px;
    height: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 40px;
}

.last-content__img {
    width: 72px;
    height: 72px;
}

.last-content__text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    color: #000000;
}


.last__main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding: 56px;
    background-color: #fff;
    border-radius: 48px;
}

.last__left {
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.last__left__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #002E6D;
    margin-top: 20px;
}

.last__left__subtitle {
    width: 441px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-top: 34px;
}

.last__left__conf {
    width: 354px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-top: 100px;
}

.last__left__conf > a {
    text-decoration: none;
    color: #0092E6;
}

.last__right {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.last__right > label > input {
    width: 100%;
    height: 48px;
    background: #F6F6F6;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 25px;
    padding: 16px;
}

.last__right > label > input:focus {
    outline: none;
}

.last__button {
    margin-top: 40px;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    background: #0080C9;
    border-radius: 20px;
    color: #fff;
    border: 1px solid white;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    transition: all 0.3s;
}

.last__button:hover {
    color: #0080C9;
    border: 1px solid #0080C9;
    background: #fff;
}

.last__bottom {
    width: 100%;
    position: relative;
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #002E6D;
    padding: 32px;
}


/**************************/

/********* Footer *********/

.footer {
    width: 100%;
    position: relative;
    background-color: #002E6D;
}

.footer__row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
}

.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer__icons__link {
    text-decoration: none;
    margin-left: 25px;
}

.footer__icons__img {
    width: 40px;
    height: 40px;
}

/************************/

/******** PopUps ********/

.active.popup__form__bg,
.active.popup__thanks__bg {
    display: block;
}

.popup__form__bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: 5;
    display: none;
}

.popup__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 43px;
}

.popup__form__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #002E6D;
}

.last__right.popup {
    width: 580px;
}

.last__left__conf.popup__form__conf {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.popup__thanks__bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: 5;
    display: none;
}

.thanks__row {
    width: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanks__popup__img {
    margin-bottom: 50px;
}

.thanks__popup__text {
    width: 525px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #002E6D;
}